/* media queries*/

@media (min-width: 576px) {
    //footer

    .footer{
        &_logo{
            .link{
                @include size (125px, 125px);
            }
        }
        &_paginas{
            margin-top: 25px;
            a{
                font-size: 1.2rem;
            }
        }
        &_idiomas{
            margin-top: 25px;
            div{
                label{ 
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: white
                }
                select{
                    @include size (1.2rem, 100px);
                    font-size: 0.8rem;
                }
            }
        }
    }

    //index

    .inicio{
        .img_inicio{
            display: flex;
            justify-content: center;
            width: 100%;
            img{
            @include size (auto, 90%);
            object-fit: cover;
            }
        }
        .img_final{
            display: flex;
            justify-content: center;
            width: 100%;
            img{
                @include size (auto, 90%);
                margin-bottom: 8vh;
            }
        }
        .div_content{
            h1{
                font-size: $size_h1Mobile;
            }
            img{
                @include size (280px, 280px);
                border-radius:140px;
            }
            p{
            font-size: $size_textMobile
            }
            p:last-child{
                font-size: 1.6rem;
                padding: 30px 50px;            
                font-style: italic
            }
        }
    }

    //ubicacion
    .ubi_main{
    .mapa {
        @include size (400px, 70vw);
    }
    .ubicacion{
        img{
            @include size (250px, 250px);
        }
    }
}    
}
@media (min-width:767px){
    //header

    .header{
        &_neylo{
        padding-left: 20px;
        font-size: 3.5rem;
        text-shadow: 1px 1px 3px black, 0 0 1em rgba(255, 255, 255, 0.637), 0 0 0.2em rgba(255, 255, 255, 0.664);
        }
        &_alineacion{
            &_texto{
                .enlace{
                    font-size: 1.4rem;
                }
            }
        }
    }

    //footer

    .footer{
        &_redes{
            justify-content: space-evenly;
            a{
                img {
                    @include size (70px, 70px);
                }
            }
        }
    }

    //index

    .main{
        background-color: rgba(170, 191, 219, 0.404);
    }
    .contenido{
        background-color: white;
        -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22); 
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22);
    }
    .inicio{
    .div_content{
        h1{
            font-size: $size_h1Tablet;
        }
        p{
        font-size: $size_textTablet;
        padding: 0px 50px;
        }
        p:last-child{
            font-size: 1.8rem;
            padding: 30px 50px;
        }
    }
    }

    //profesores

    .main_prof {
        height: auto;
        background-color: rgba(170, 191, 219, 0.404); 
        .articulo_prof{
        background-color: white;
        -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22); 
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22);
        padding-top: 30px;
        padding-bottom: 40px;
        .presentacion_prof{
        h1{
            font-size: $size_h1Tablet;
        }
        .parrafo{
            padding: 0px 25px;
        p{
            font-size: $size_textTablet;
        }
    }
        .profesores{
        @include size (300px, 300px);
        .nombres{
        h5{
            font-size: $size_textTablet;
        }
    }
    }
    }
        .lista_prof{
        div{
        h2{
            font-size: 2em;
        }
        ul{
            li{
                font-size: $size_textTablet;
            }
        }
    }
    }
        .prof_img {
        img{
            @include size (250px, 250px);
        }
    }
}
}

    //precios

    .precios_main{
        background-color: rgba(170, 191, 219, 0.404);
        .container{
            background-color: white;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22);
        .img_precios{
        img{
            @include size (70vh, 90%);
        }
    }
    }
    .tabla{
        margin-left: 25px;
        margin-right: 25px;
        h1{
            font-size: $size_h1Tablet;
        }
        p {
        font-size: $size_textTablet;
        }
        table{
            font-size: $size_textTablet;
            thead{
                font-size: 18px;
            }
        }
    }
}

    //ubicacion

    .ubi_main{
        background-color: rgba(170, 191, 219, 0.404);
        .container{
            background-color: white;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22);
            .ubi_texto{
                h1{
                    font-size: $size_h1Tablet;
                }
                p{
                    font-size: $size_textTablet;
                    padding: 0px 25px;
                }
            }
            .mapa {
                @include size (350px, 80vw);
            }
            .ubicacion {
                img{
                    @include size (300px, 300px);
                }
            }
    
        }
    }

    //contacto

    .contacto{
        background-color: rgba(170, 191, 219, 0.404);
        .container{
            background-color: white;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22);
        .form{
            &_text{
                h1{
                    font-size: $size_h1Tablet;
                }
                p{
                    font-size: $size_textTablet;
                    padding: 0 3vw;
                }
                .formulario{
                    margin: auto 25px;
                    &_blur{
                    div{
                    label{
                        font-size: $size_textTablet;
                    }
                }
                }
                }
            }
            &_img{
                    img {
                        @include size (60vh, 90%);
                    }   
                }
            }
        }
        }
}
@media (min-width:992px) {
    //header

    .header{
        &_neylo{
            font-size: 5rem;
        }
        &_alineacion{
            justify-content: right;
            &_texto{
                .enlace{
                    font-size: 1.5rem;            margin-right: 20px;
                }
            }
        }
    }

    //footer

    .footer{
        &_logo{
            .link{
                @include size (200px, 200px);
            }
        }
        &_paginas{
            a{
                font-size: 1.4rem;
                line-height: 2.8rem;
            }
        }
        &_idiomas{
            div{
                label{ 
                    font-size: 1.5rem;
                }
                select{
                    @include size (30px, 90%);
                    font-size: 1rem;
                }
            }
        }
        &_redes{
            padding: unset;
            margin-bottom: unset;
            a{
                img{
                    @include size (80px, 80px);
                }
            }
        }
    }

    //index

    .inicio{
        .img_inicio{
            img{
            @include size (70vh, 80%);
            }
        }
        .img_final{
            img{
                @include size (auto, 70%);
            }
        }
        .div_content{
            h1{
                font-size: $size_h1Desktop;
            }
            img{
                @include size (400px, 400px);
                border-radius:200px;
            }
            p{
            font-size: $size_textDesktop;
            }
            p:last-child{
                font-size: 1.8rem;
                padding: 30px 50px;            
                font-style: italic
            }
        }
    }

    //profesores

    .main_prof{
        .articulo_prof{
        padding-top: unset;
        .presentacion_prof{
            margin-top: 25px;
            h1{
                font-size: $size_h1Desktop;
            }
            .parrafo{
                margin-left: 25px;
                padding: unset;
                p{
                    font-size: $size_textDesktop;
                }
            }
            .profesores{
                @include size (350px, 350px);
                .nombres{
                h5{
                    font-size: $size_textDesktop;
                }
            }
            }        
        }
        .lista_prof{
            div{
            h2{
                font-size: 2em;
            }
            ul{
                li{
                    font-size: $size_textDesktop;
                }
            }
        }
        }
        .prof_img{
            img{
                @include size (400px, 400px);
            }
        }
    }
}

    //precios

    .precios_main{
        .container{
            .img_precios{
                img{
                    @include size (70vh, 80%);
                }
            }
        }
        .tabla{
            h1, h2, table, div{
                padding-bottom: 20px;
            }
    
            h1{
                margin-top: 25px;
                font-size: $size_h1Desktop;
            }
            h2{
                padding-left: 100px;
            }
            p {
                padding-left: 50px;
                padding-right: 50px;
                font-size: $size_textDesktop;
            }
            table{
                @include size (auto, 95%);
                font-size: $size_textDesktop;
                margin: auto;
                thead{
                    font-size: 22px;
                    text-align: center
                }
            }
        }
    }

    //ubicacion
    .ubi_main{
        .container{
            .ubi_texto{
                padding-top: 25px;
                h1{
                    font-size: $size_h1Desktop;
                    margin-bottom: 20px;
                }
                p{
                    font-size: $size_textDesktop;
                    padding: 0 75px;
                    padding-bottom: 25px
                }
            }
            .mapa {
                @include size (400px, 45%);
                margin-bottom: 50px;
            }
            .ubicacion {
                margin-bottom: 50px;
                img{
                    @include size (300px, 300px);
                }
            }
    
        }
    }

    //contacto

    .contacto{
        .container{
        .form{
            &_text{
                h1{
                    font-size: $size_h1Desktop;
                    margin-bottom: 50px;
                }
                p{
                    font-size: $size_textDesktop;
                }
                .formulario{
                    margin-left: unset;
                    margin-right: 25px;
                    &_blur{
                    div{
                    label{
                        font-size: $size_textDesktop;
                    }
                }
                }
                }
            }
            &_img{
                    img {
                        @include size (70vh, 70%);
                    }   
                }
            }
        }
        }

    //animaciones

    @-webkit-keyframes slide-right {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(100px);
                  transform: translateX(100px);
        }
      }
      @keyframes slide-right {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(100px);
                  transform: translateX(100px);
        }
      }

    .slide-right {
        -webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @-webkit-keyframes shake-bottom {
        0%,
        100% {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
          -webkit-transform-origin: 50% 100%;
                  transform-origin: 50% 100%;
        }
        10% {
          -webkit-transform: rotate(2deg);
                  transform: rotate(2deg);
        }
        20%,
        40%,
        60% {
          -webkit-transform: rotate(-4deg);
                  transform: rotate(-4deg);
        }
        30%,
        50%,
        70% {
          -webkit-transform: rotate(4deg);
                  transform: rotate(4deg);
        }
        80% {
          -webkit-transform: rotate(-2deg);
                  transform: rotate(-2deg);
        }
        90% {
          -webkit-transform: rotate(2deg);
                  transform: rotate(2deg);
        }
      }
      @keyframes shake-bottom {
        0%,
        100% {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
          -webkit-transform-origin: 50% 100%;
                  transform-origin: 50% 100%;
        }
        10% {
          -webkit-transform: rotate(2deg);
                  transform: rotate(2deg);
        }
        20%,
        40%,
        60% {
          -webkit-transform: rotate(-4deg);
                  transform: rotate(-4deg);
        }
        30%,
        50%,
        70% {
          -webkit-transform: rotate(4deg);
                  transform: rotate(4deg);
        }
        80% {
          -webkit-transform: rotate(-2deg);
                  transform: rotate(-2deg);
        }
        90% {
          -webkit-transform: rotate(2deg);
                  transform: rotate(2deg);
        }
      }
      .shake-bottom {
          -webkit-animation: shake-bottom 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.5s infinite both;
                  animation: shake-bottom 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.5s infinite both;
      }
} 