/* media queries*/

@media (min-width:576px){
    //footer

    .footer{
        &_logo{
            .link{
                @include size (125px, 125px);
            }
        }
        &_paginas{
            margin-top: 25px;
            a{
                font-size: 1.2rem;
            }
        }
        &_idiomas{
            margin-top: 25px;
            div{
                label{ 
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: white;
                }
                select{
                    @include size (1.2rem, 100px);
                    font-size: 0.8rem;
                }
            }
        }
    }

    //index

    .inicio{
        &_imagen{
            display: flex;
            justify-content: center;
            width: 100%;
            img{
            @include size (auto, 90%);
            object-fit: cover;
            }
        }
        &_contenido{
            h1{
                font-size: $size_h1Mobile;
            }
            img{
                @include size (260px, 260px);
                border-radius:130px;
            }
            p{
            font-size: $size_textMobile;
            }
            p:last-child{
                font-size: 1.6rem;
                padding: 30px 50px;            
                font-style: italic;
            }
        }
        &_imagenFinal{
            display: flex;
            justify-content: center;
            width: 100%;
            img{
                @include size (auto, 90%);
                margin-bottom: 8vh;
            }
        }
    }

    //profesores

    .profesores{
        &_presentacion{
            .fotos{
                @include size (auto, 80%);
            }
        }
    }

    //ubicacion

    .mainUbicacion{
        .container{
            .ubicacion{
                &_mapa {
                    @include size (400px, 70vw);
                }
                &_imagen{
                    img{
                        @include size (250px, 250px);
                    }
                }            
            }
        }
    }
}
@media (min-width:767px){
    //header

    .header{
        &_neylo{
        padding-left: 20px;
        font-size: 3.5rem;
        text-shadow: 1px 1px 3px black, 0 0 1em rgba(255, 255, 255, 0.637), 0 0 0.2em rgba(255, 255, 255, 0.664);
        }
        &_alineacion{
            &_texto{
                .enlace{
                    font-size: 1.4rem;
                }
            }
        }
    }

    //footer

    .footer{
        &_redes{
            justify-content: space-evenly;
            a{
                img {
                    @include size (70px, 70px);
                }
            }
        }
    }

    //index

    .mainIndex{
        background-color: rgba(170, 191, 219, 0.404);
        .container{
            background-color: white;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22);
            .inicio{
                &_contenido{
                    h1{
                        font-size: $size_h1Tablet;
                    }
                    p{
                        font-size: $size_textTablet;
                        padding: 0px 50px;
                    }
                    p:last-child{
                        font-size: 1.8rem;
                        padding: 30px 50px;
                    }
                }
            }
        }    
    }

    //profesores

    .mainProfesores{
        height: auto;
        background-color: rgba(170, 191, 219, 0.404); 
        .container{
            background-color: white;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22);
            .profesores{
                &_presentacion{
                    h1{
                        font-size: $size_h1Tablet;
                    }
                    .parrafo{
                        padding: 0px 25px;
                        p{
                            font-size: $size_textTablet;
                        }
                    }
                    .fotos{
                        @include size (400px, 400px);
                        .nombres{
                            h5{
                                font-size: $size_textTablet;
                            }
                        }
                    }
                }
                &_lista{
                    div{
                        h2{
                            font-size: 2em;
                        }
                        ul{
                            li{
                                font-size: $size_textTablet;
                            }
                        }
                    }
                }
                &_imagen{
                    img{
                        @include size (250px, 250px);
                    }
                }
            }
        }
    }

    //precios

    .mainPrecios{
        background-color: rgba(170, 191, 219, 0.404);
        .container{
            background-color: white;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22);
            .precios{
                &_imagen{
                    img{
                        @include size (auto, 90%);
                    }
                }
                &_tabla{
                    margin-left: 25px;
                    margin-right: 25px;
                    h1{
                        font-size: $size_h1Tablet;
                    }
                    p {
                        font-size: $size_textTablet;
                    }
                    table{
                        font-size: $size_textTablet;
                        thead{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    //ubicacion

    .mainUbicacion{
        background-color: rgba(170, 191, 219, 0.404);
        .container{
            background-color: white;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22);
            .ubicacion{
                &_texto{
                    h1{
                        font-size: $size_h1Tablet;
                    }
                    p{
                        font-size: $size_textTablet;
                        padding: 0px 25px;
                    }
                }
                &_mapa{
                    @include size (350px, 80%);
                }
                &_imagen{
                    img{
                        @include size (300px, 300px);
                   }
                }
            }
        }
    }

    //contacto

    .mainContacto{
        background-color: rgba(170, 191, 219, 0.404);
        .container{
            background-color: white;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0,0,0,0.22);
            .contacto{
                &_texto{
                    h1{
                        font-size: $size_h1Tablet;
                    }
                    p{
                        font-size: $size_textTablet;
                        padding: 0 3vw;
                    }
                    .formulario{
                        margin: auto 25px;
                        &_fondo{
                            div{
                                label{
                                    font-size: $size_textTablet;
                                }
                            }
                        }
                    }
                }
                &_imagen{
                    img{
                        @include size (auto, 85%);
                    }   
                }
            }
        }
    }
}
@media (min-width:992px){
    //header

    .header{
        &_neylo{
            font-size: 5rem;
        }
        &_alineacion{
            justify-content: right;
            &_texto{
                .enlace{
                    font-size: 1.5rem;            margin-right: 20px;
                }
            }
        }
    }

    //footer

    .footer{
        &_logo{
            .link{
                @include size (200px, 200px);
            }
        }
        &_paginas{
            a{
                font-size: 1.4rem;
                line-height: 2.8rem;
            }
        }
        &_idiomas{
            div{
                label{ 
                    font-size: 1.5rem;
                }
                select{
                    @include size (30px, 90%);
                    font-size: 1rem;
                }
            }
        }
        &_redes{
            padding: unset;
            margin-bottom: unset;
            a{
                img{
                    @include size (80px, 80px);
                }
            }
        }
    }

    //index

    .inicio{
        &_imagen{
            img{
            @include size (70vh, 80%);
            }
        }
        &_imagenFinal{
            img{
                @include size (auto, 70%);
            }
        }
        &_contenido{
            h1{
                font-size: $size_h1Desktop;
            }
            img{
                @include size (400px, 400px);
                border-radius:200px;
            }
            p{
            font-size: $size_textDesktop;
            }
            p:last-child{
                font-size: 1.8rem;
                padding: 30px 50px;            
                font-style: italic;
            }
        }
    }

    //profesores

    .mainProfesores{
        .container{
            .profesores{
            padding-top: unset;
                &_presentacion{
                margin-top: 25px;
                h1{
                    font-size: $size_h1Desktop;
                }
                .parrafo{
                    margin-left: 50px;
                    padding: unset;
                        p{
                        font-size: $size_textDesktop;
                    }
                }
                .fotos{
                    @include size (400px, 400px);
                    .nombres{
                        h5{
                            font-size: $size_textDesktop;
                        }
                    }
                }        
            }
            &_lista{
                div{
                    h2{
                        font-size: 2em;
                    }
                    ul{
                        li{
                            font-size: $size_textDesktop;
                        }
                    }
                }
            }
            &_imagen{
                img{
                    @include size (400px, 400px);
                }
            }
        }
    }
}

    //precios

    .mainPrecios{
        .container{
            .precios{
                &_imagen{
                    img{
                        @include size (70vh, 80%);
                        object-fit: cover;
                    }
                }
                &_tabla{
                    h1, h2, table, div{
                        padding-bottom: 20px;
                    }
            
                    h1{
                        margin-top: 25px;
                        font-size: $size_h1Desktop;
                    }
                    h2{
                        padding-left: 100px;
                    }
                    p {
                        padding-left: 50px;
                        padding-right: 50px;
                        font-size: $size_textDesktop;
                    }
                    table{
                        @include size (auto, 95%);
                        font-size: $size_textDesktop;
                        margin: auto;
                        thead{
                            font-size: 22px;
                            text-align: center
                        }
                    }
                }
            }
        }
    }

    //ubicacion
    .mainUbicacion{
        .container{
            .ubicacion{
                &_texto{
                    padding-top: 25px;
                    h1{
                        font-size: $size_h1Desktop;
                        margin-bottom: 20px;
                    }
                    p{
                        font-size: $size_textDesktop;
                        padding: 0 75px;
                        padding-bottom: 25px
                    }
                }
                &_mapa{
                    @include size (400px, 45%);
                    margin-bottom: 50px;
                }
                &_imagen{
                    margin-bottom: 50px;
                    img{
                        @include size (300px, 300px);
                    }
                }
            }
        }
    }

    //contacto

    .mainContacto{
        .container{
            .contacto{
                &_texto{
                    h1{
                        font-size: $size_h1Desktop;
                        margin-bottom: 25px;
                    }
                    p{
                        font-size: $size_textDesktop;
                    }
                    .formulario{
                        margin-left: unset;
                        &_fondo{
                            margin-right: 5px;
                            div{
                                label{
                                    font-size: $size_textDesktop;
                                }
                            }
                        }
                    }
                }
                &_imagen{
                    img{
                        @include size (auto, 70%);
                    }   
                }
            }
        }
    }

    //animaciones

    @-webkit-keyframes slide-right {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(100px);
                  transform: translateX(100px);
        }
      }
      @keyframes slide-right {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(100px);
                  transform: translateX(100px);
        }
      }

    .slide-right {
        -webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @-webkit-keyframes shake-bottom {
        0%,
        100% {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
          -webkit-transform-origin: 50% 100%;
                  transform-origin: 50% 100%;
        }
        10% {
          -webkit-transform: rotate(2deg);
                  transform: rotate(2deg);
        }
        20%,
        40%,
        60% {
          -webkit-transform: rotate(-4deg);
                  transform: rotate(-4deg);
        }
        30%,
        50%,
        70% {
          -webkit-transform: rotate(4deg);
                  transform: rotate(4deg);
        }
        80% {
          -webkit-transform: rotate(-2deg);
                  transform: rotate(-2deg);
        }
        90% {
          -webkit-transform: rotate(2deg);
                  transform: rotate(2deg);
        }
      }
      @keyframes shake-bottom {
        0%,
        100% {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
          -webkit-transform-origin: 50% 100%;
                  transform-origin: 50% 100%;
        }
        10% {
          -webkit-transform: rotate(2deg);
                  transform: rotate(2deg);
        }
        20%,
        40%,
        60% {
          -webkit-transform: rotate(-4deg);
                  transform: rotate(-4deg);
        }
        30%,
        50%,
        70% {
          -webkit-transform: rotate(4deg);
                  transform: rotate(4deg);
        }
        80% {
          -webkit-transform: rotate(-2deg);
                  transform: rotate(-2deg);
        }
        90% {
          -webkit-transform: rotate(2deg);
                  transform: rotate(2deg);
        }
      }
      .shake-bottom {
          -webkit-animation: shake-bottom 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.5s infinite both;
                  animation: shake-bottom 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.5s infinite both;
      }
} 