/*pagina contactos*/

.mainContacto{
    height: auto;
    .contacto{
        &_texto{
            h1{
                font-size: $size_h1Mobile;
                text-align: center;
                text-decoration: underline;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-right: 20px;
            }
            p{
                font-size: $size_textMobile;
                padding: 0 15px;
            }
            .formulario{
                margin: auto;
                &_fondo{
                    -webkit-box-shadow:0px 0px 10px 4px #406882 ;
                    -moz-box-shadow:0px 0px 10px 4px #406882 ;
                    box-shadow:0px 0px 10px 4px #406882 ;
                    background-color: rgba(170, 191, 219, 0.404);
                    div{
                        padding: 0 10px;
                        label{
                            font-size: $size_textMobile;
                            font-weight: 700;
                        }
                        button{
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
        &_imagen{
            margin-top: 25px;
            img{
                @include size (auto, 100%);
                margin-bottom: 25px;
            }   
        }
    }
}