/*pagina precios*/

.precios_main{
    overflow-x: hidden;
}
.precios {
    display: flex;
    justify-content: center;
    width: 100vw;
    img{
        @include size (100%, 100%);
    }
}
.tabla{
    p {
    font-size: 14px;
    }
    table{
        font-size: 12px;
    }
}