*{
    margin: 0;
    padding: 0;
}
.neylo{
    padding-left: 10px;
    font-family: 'Neonderthaw', cursive;
    font-size: 2.5rem;
    color: rgb(25, 0, 255);
    text-shadow: 1px 1px 3px black, 0 0 1em rgba(255, 255, 255, 0.637), 0 0 0.2em rgba(255, 255, 255, 0.664);
}
.navbar_color{
    background-image: linear-gradient(to right, #6998AB, #6998AB, #406882, #406882, #406882, #6998AB, #6998AB);
    .txt{
        color: rgb(3, 26, 71);
        font-family: 'Courgette', cursive;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
    .navbar-toggler{
        background-color: transparent;
        border: 1px solid transparent;
    }
    .navbar-toggler-icon{
        color: black;
        img{
            height: 100%;
            width: 100%;
        }
    }
}
.main {
    background-image: linear-gradient(to bottom, rgb(5, 91, 102), rgb(46, 179, 128));
}
.inicio{
    position: relative;
    height: 150vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    img{
        @include size (300px, 100%);
        right: 0%;
        z-index: 1;
    }
    div{
        background-color: rgba(255, 255, 255, 0.596);
        position: absolute;
        top: 35%;
        left: 5%;
        z-index: 10;
        right: 5%;
        box-shadow: 10px 15px rgba(0, 0, 0, 0.644);
        p{
            padding: 0px 10px;
            color: rgb(0, 0, 0);
            font-size: 15px;
        }
    }
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(to left, $color_blue, $color_blue, $color_grey);
}
.a img{
    @include size (100px, 100px);
}
.b{
    margin-right: 50px;
    a{
        line-height: 1.5rem;
        font-family: $fuente_text;
        font-weight: 700;
        font-size: 1rem;
        color: black;
        list-style-type: none;
        text-decoration: none;
        text-align: center;
    }
}
.c {
    div{
         label{ 
    font-family: $fuente_text;
    font-size: 0.9rem;
    font-weight: bold;
         }
         select{
            @include size (1.2rem, 100px);
            font-size: 0.8rem;
        }
    }
}
.d {
    padding-bottom: 20px;
    padding-top: 20px;
    img {
        @include size (50px, 50px);
    }
}