* {
  margin: 0;
  padding: 0; }

.neylo {
  padding-left: 10px;
  font-family: 'Neonderthaw', cursive;
  font-size: 2.5rem;
  color: #1900ff;
  text-shadow: 1px 1px 3px black, 0 0 1em rgba(255, 255, 255, 0.637), 0 0 0.2em rgba(255, 255, 255, 0.664); }

.navbar_color {
  background-image: linear-gradient(to right, #6998AB, #6998AB, #406882, #406882, #406882, #6998AB, #6998AB); }
  .navbar_color .txt {
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 1rem;
    font-weight: bold;
    text-align: center; }
  .navbar_color .navbar-toggler {
    background-color: transparent;
    border: 1px solid transparent; }
  .navbar_color .navbar-toggler-icon {
    color: black; }
    .navbar_color .navbar-toggler-icon img {
      height: 100%;
      width: 100%; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: linear-gradient(to right, #6998AB, #6998AB, #406882, #406882, #406882, #6998AB, #6998AB); }

.logo {
  margin: 25px 0px; }
  .logo .link {
    height: 100px;
    width: 100px; }
    .logo .link img {
      height: 100%;
      width: 100%; }

.lista {
  padding: unset;
  margin-bottom: 25px; }
  .lista a {
    line-height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    list-style-type: none;
    text-decoration: none;
    text-align: center; }

.idiomas {
  display: flex;
  justify-content: center;
  margin-bottom: 25px; }
  .idiomas div label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: white; }
  .idiomas div select {
    height: 1.2rem;
    width: 100px;
    font-size: 0.8rem; }

.redes {
  display: flex;
  justify-content: center;
  margin-bottom: 25px; }
  .redes a {
    padding: 0px 10px; }
    .redes a img {
      height: 50px;
      width: 50px; }

.inicio {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  .inicio img {
    height: auto;
    width: 100%;
    margin: 20px 0;
    right: 0%; }
  .inicio div h1 {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    margin: 0.67em 0; }
  .inicio div p {
    padding: 0px 25px;
    color: black;
    font-size: 1rem; }
    .inicio div p span {
      font-weight: 700; }
  .inicio div p:last-child {
    text-align: center;
    font-size: 20px;
    font-weight: 700; }

/*pagina profesores*/
.articulo_prof .presentacion_prof h1 {
  font-size: 2em;
  padding-top: 25px;
  padding-bottom: 15px;
  text-decoration: underline;
  text-align: center; }

.articulo_prof .presentacion_prof .parrafo p {
  font-size: 1rem;
  padding: 0px 25px; }

.articulo_prof .presentacion_prof .profesores {
  height: 250px;
  width: 250px;
  margin: auto; }
  .articulo_prof .presentacion_prof .profesores .nombres {
    padding: unset; }
    .articulo_prof .presentacion_prof .profesores .nombres h5 {
      background-color: rgba(255, 255, 255, 0.568);
      color: black;
      font-size: 1rem; }

.articulo_prof .lista_prof {
  list-style-type: none;
  text-decoration: none;
  margin-top: 25px; }
  .articulo_prof .lista_prof div ul {
    padding-bottom: 15px; }
    .articulo_prof .lista_prof div ul li {
      font-size: 1rem; }

.articulo_prof .prof_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px; }
  .articulo_prof .prof_img img {
    height: 200px;
    width: 200px; }

/*pagina precios*/
.precios_main {
  overflow-x: hidden; }

.precios {
  display: flex;
  justify-content: center;
  width: 100vw; }
  .precios img {
    height: 100%;
    width: 100%; }

.tabla p {
  font-size: 14px; }

.tabla table {
  font-size: 12px; }

/*pagina ubicacion*/
.margin div {
  padding: 15px 10px; }

.mapa {
  height: 300px;
  width: 95vw; }
  .mapa iframe {
    height: 100%;
    width: 100%; }

/*pagina contactos*/
.contacto {
  height: 150vh;
  overflow-x: hidden; }

.form {
  position: relative; }

.form_zindex {
  z-index: 10;
  backdrop-filter: blur(8px);
  padding-top: 30px; }

.img_zindex {
  position: absolute;
  z-index: 1; }

.img_form img {
  height: 500px; }

/* media queries*/
@media (min-width: 576px) {
  .logo .link {
    height: 125px;
    width: 125px; }
  .lista {
    margin-top: 25px; }
    .lista a {
      font-size: 1.2rem; }
  .idiomas {
    margin-top: 25px; }
    .idiomas div label {
      font-size: 1.1rem;
      font-weight: bold;
      color: white; }
    .idiomas div select {
      height: 1.2rem;
      width: 100px;
      font-size: 0.8rem; }
  .inicio .img_inicio {
    display: flex;
    justify-content: center;
    width: 100%; }
    .inicio .img_inicio img {
      height: auto;
      width: 90%;
      object-fit: cover; }
  .inicio .img_final {
    display: flex;
    justify-content: center;
    width: 100%; }
    .inicio .img_final img {
      height: auto;
      width: 90%;
      margin-bottom: 8vh; }
  .inicio .div_content h1 {
    font-size: 2em; }
  .inicio .div_content img {
    height: 280px;
    width: 280px;
    border-radius: 140px; }
  .inicio .div_content p {
    font-size: 1rem; }
  .inicio .div_content p:last-child {
    font-size: 1.6rem;
    padding: 30px 50px;
    font-style: italic; }
  .tabla p {
    font-size: 16px; }
  .tabla table {
    font-size: 14px; }
  .mapa {
    height: 400px;
    width: 100%; }
  .ubicacion {
    display: flex;
    justify-content: center;
    margin: 20px 0px; }
  .contacto {
    height: auto; } }

@media (min-width: 576px) and (orientation: landscape) {
  .inicio div {
    top: 10%; }
    .inicio div img {
      height: 100vh; }
    .inicio div p {
      font-size: 14px;
      top: 30%;
      left: 10%;
      right: 10%; } }

@media (min-width: 767px) {
  .neylo {
    padding-left: 20px;
    font-size: 3.5rem;
    text-shadow: 1px 1px 3px black, 0 0 1em rgba(255, 255, 255, 0.637), 0 0 0.2em rgba(255, 255, 255, 0.664); }
  .navbar_color .txt {
    font-size: 1.4rem; }
  .redes {
    justify-content: space-evenly; }
    .redes a img {
      height: 70px;
      width: 70px; }
  .main {
    background-color: rgba(170, 191, 219, 0.404); }
  .contenido {
    background-color: white;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0, 0, 0, 0.22);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0, 0, 0, 0.22); }
  .inicio .div_content h1 {
    font-size: 2.4em; }
  .inicio .div_content p {
    font-size: 1.2rem;
    padding: 0px 50px; }
  .inicio .div_content p:last-child {
    font-size: 1.8rem;
    padding: 30px 50px; }
  .main_prof {
    height: auto;
    background-color: rgba(170, 191, 219, 0.404); }
    .main_prof .articulo_prof {
      background-color: white;
      -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0, 0, 0, 0.22);
      box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 14px -18px rgba(0, 0, 0, 0.22);
      padding-top: 30px;
      padding-bottom: 40px; }
      .main_prof .articulo_prof .presentacion_prof h1 {
        font-size: 2.4em; }
      .main_prof .articulo_prof .presentacion_prof .parrafo {
        padding: 0px 25px; }
        .main_prof .articulo_prof .presentacion_prof .parrafo p {
          font-size: 1.2rem; }
      .main_prof .articulo_prof .presentacion_prof .profesores {
        height: 300px;
        width: 300px; }
        .main_prof .articulo_prof .presentacion_prof .profesores .nombres h5 {
          font-size: 1.2rem; }
      .main_prof .articulo_prof .lista_prof div h2 {
        font-size: 2em; }
      .main_prof .articulo_prof .lista_prof div ul li {
        font-size: 1.2rem; }
      .main_prof .articulo_prof .prof_img img {
        height: 250px;
        width: 250px; }
  .precios img {
    height: 80%;
    width: 90%; }
  .tabla p {
    font-size: 24px; }
  .tabla table {
    font-size: 18px; }
  .ubi_main {
    background-image: linear-gradient(to left, green, white, white, white, white, white, green); }
  .mapa {
    height: 400px;
    width: 100%; }
  .ubicacion {
    display: flex;
    justify-content: center;
    margin: 20px 0px; }
    .ubicacion img {
      height: 300px;
      width: 300px; }
  .ubi_text {
    font-size: 2rem; }
  .form_text p {
    font-size: 20px; }
  .form_zindex {
    z-index: 10;
    backdrop-filter: blur(8px);
    padding: 50px 0px; } }

@media (min-width: 992px) {
  .neylo {
    font-size: 5rem; }
  .nav_aling {
    justify-content: right; }
  .navbar_color .txt {
    font-size: 1.5rem;
    margin-right: 20px; }
  .logo .link {
    height: 200px;
    width: 200px; }
  .lista a {
    font-size: 1.4rem;
    line-height: 2.8rem; }
  .idiomas div label {
    font-size: 1.5rem; }
  .idiomas div select {
    height: 30px;
    width: 90%;
    font-size: 1rem; }
  .redes {
    padding: unset;
    margin-bottom: unset; }
    .redes a img {
      height: 80px;
      width: 80px; }
  .inicio .img_inicio img {
    height: 70vh;
    width: 80%; }
  .inicio .img_final img {
    height: auto;
    width: 70%; }
  .inicio .div_content h1 {
    font-size: 2.8em; }
  .inicio .div_content img {
    height: 400px;
    width: 400px;
    border-radius: 200px; }
  .inicio .div_content p {
    font-size: 1.4rem; }
  .inicio .div_content p:last-child {
    font-size: 1.8rem;
    padding: 30px 50px;
    font-style: italic; }
  .main_prof .articulo_prof {
    padding-top: unset; }
    .main_prof .articulo_prof .presentacion_prof {
      margin-top: 25px; }
      .main_prof .articulo_prof .presentacion_prof h1 {
        font-size: 2.8em; }
      .main_prof .articulo_prof .presentacion_prof .parrafo {
        margin-left: 25px;
        padding: unset; }
        .main_prof .articulo_prof .presentacion_prof .parrafo p {
          font-size: 1.4rem; }
      .main_prof .articulo_prof .presentacion_prof .profesores {
        height: 350px;
        width: 350px; }
        .main_prof .articulo_prof .presentacion_prof .profesores .nombres h5 {
          font-size: 1.4rem; }
    .main_prof .articulo_prof .lista_prof div h2 {
      font-size: 2em; }
    .main_prof .articulo_prof .lista_prof div ul li {
      font-size: 1.4rem; }
    .main_prof .articulo_prof .prof_img img {
      height: 400px;
      width: 400px; }
  .text {
    font-size: 1.8rem; }
  .tabla p {
    font-size: 28px; }
  .tabla table {
    font-size: 24px; }
  .mapa {
    height: 600px;
    width: 80%; }
  .ubicacion {
    display: flex;
    justify-content: center;
    margin: 20px 0px; }
    .ubicacion img {
      height: 400px;
      width: 400px; }
  .contacto {
    height: auto;
    overflow-x: hidden; }
  .form_zindex {
    padding: 50px 0px; }
  .img_zindex {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center; }
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    100% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px); } }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    100% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px); } }
  .slide-right {
    -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  @-webkit-keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%; }
    10% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg); }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg); }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
      transform: rotate(4deg); }
    80% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg); }
    90% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg); } }
  @keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%; }
    10% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg); }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg); }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
      transform: rotate(4deg); }
    80% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg); }
    90% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg); } }
  .shake-bottom {
    -webkit-animation: shake-bottom 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s infinite both;
    animation: shake-bottom 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s infinite both; } }
